#nav_header {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display:flex;
  justify-content: space-between;
  list-style:none;
  text-decoration: none;
  margin-right:30px;
}
.menu a {
  margin-right: 30px;
text-decoration: none;
  color:black;
}